<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Water Pump</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding relate">
    <div blade-wrapper flex>
        <ion-img #blade blade src="assets/imgs/blade.webp"></ion-img>
    </div>

    <div>
        <div style="transform: scale(1);">
            <ion-text>
                <h2 id="tankStatus">Water Tank status</h2>
            </ion-text>
            <ion-list>
                <ion-item button (click)="pumpService.reconnectToTank()">
                    <ion-icon class="connecting" slot="start" name="radio-outline"></ion-icon>
                    <ion-text>Connection</ion-text>
                    <ion-text slot="end" id="connection" color="{{ pumpService.tankConnectionTextColor || 'warning'}}">
                        {{ pumpService.tankConnectionText || unknown }}</ion-text>
                        <ion-progress-bar #connectingToTank type="determinate" value="0.42" buffer="0.5" reversed="true" color="primary"></ion-progress-bar>
                    </ion-item>
                    <ion-item>
                        <ion-icon slot="start" name="water-outline"></ion-icon>
                        <ion-text>Water Level</ion-text>
                        <ion-text slot="end" color="{{ pumpService.tankStatus?.waterLevelColor || 'warning' }}">{{
                        pumpService.tankStatus?.waterLevelText || unknown}}</ion-text>
                </ion-item>
            </ion-list>
        </div>
        
        <div style="transform: scale(1);">
            <ion-text>
                <h2 id="tankStatus">Status</h2>
            </ion-text>
            <ion-list>
                <ion-item button (click)="pumpService.reconnect()">
                    <ion-icon id="connectionIcon" class="connecting" slot="start" name="wifi"></ion-icon>
                    <ion-text>Connection</ion-text>
                    <ion-text slot="end" id="connection" color="{{ pumpService.connectionTextColor || 'warning' }}">{{
                        pumpService.connectionText || unknown }}</ion-text>
                        <ion-progress-bar #connectingToServer type="determinate" value="0.42" buffer="0.5" reversed="true" color="primary"></ion-progress-bar>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="water-outline"></ion-icon>
                    <ion-text>Pumping</ion-text>
                    <ion-text slot="end" color="{{ pumpService.pumpingTextColor || 'warning' }}">{{
                        pumpService.pumpingText || unknown }}</ion-text>
                </ion-item>
                <ion-item>
                    <ion-icon slot="start" name="water-outline"></ion-icon>
                    <ion-text>Auto Pumping</ion-text>
                    <ion-text slot="end" color="{{ pumpService.autoPumpingTextColor || 'warning' }}">{{
                        pumpService.autoPumpingText || unknown }}</ion-text>
                </ion-item>
            </ion-list>
        </div>
    </div>

</ion-content>