$i: 0;
@while $i <= 100 {
  [water].level-#{$i} {
      --level: #{(100 - $i)*1%};
  }
  $i: $i + 1;
}


[flex] {
  display: flex;
}

[absolute] {
  position: absolute;
}

/* slider image */

[water-empty] {
  width: 20px;
  margin-right: 2px;
}

[water-full] {
  width: 20px;
  margin-left: 2px;
}

[water] {
  transform: translateY(var(--level));
}

[bold] {
  font-weight: bold;
}