/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


$i: 0;
@while $i <= 100 {
  [water].level-#{$i} {
      --level: #{(100 - $i)*1%};
  }
  $i: $i + 1;
}

[water] {
  transform: translateY(var(--level));
}

/* slider image */
[water-empty] {
  width: 20px;
  margin-right: 2px;
}

[water-full] {
  width: 20px;
  margin-left: 2px;
}

[flex] {
  display: flex;
}

[absolute] {
  position: absolute;
}

[bold] {
  font-weight: bold;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(1000deg);
  }
}

[blade-wrapper] {
  [blade] {
    width: 70%;
    
    &[spinning=true] {
      animation: spin 1s linear 0s infinite;
    }
  }

  justify-content: center;
}